In [29]:
import pandas as pd
import numpy as np

## Moyenne Par Mois

In [38]:
tab = pd.read_csv('tableau_final.csv', index_col = "Index")

tab['Year/Month'] = tab["Date"].str[8:10] + "/" + tab["Date"].str[3:5]

tab = np.round(tab.groupby(['variable', 'Year/Month'], as_index=False)['value'].mean(), decimals = 2)

tab.head()

             variable Year/Month  value
0  Brent (EUR/barrel)      15/03    NaN
1  Brent (EUR/barrel)      15/04    NaN
2  Brent (EUR/barrel)      15/05    NaN
3  Brent (EUR/barrel)      15/06    NaN
4  Brent (EUR/barrel)      15/07    NaN

In [39]:
tab.to_csv(r'tableau_by_month.csv', index = True, header = True)

## Affichage

In [42]:
for elem in tab['variable'].unique():
    tab[tab['variable'] == elem].plot