In [29]:
import pandas as pd
import numpy as np

## Moyenne Par Mois

In [30]:
tab = pd.read_csv('tableau_final.csv', index_col = "Index")

tab['Month/Year'] = tab["Date"].str[3:5] + "/" + tab["Date"].str[6:8]

tab = np.round(tab.groupby(['Month/Year','variable'], as_index=False)['value'].mean(), decimals = 2)

tab.head()

  Month/Year            variable    value
0      01/20  Brent (EUR/barrel)    56.60
1      01/20           USD/EUROS     0.88
2      01/20     aluminium (EUR)  1521.41
3      01/20       beams EUR/ton   717.91
4      01/20       coils EUR/ton   816.32

In [31]:
tab.to_csv(r'tableau_by_month.csv', index = True, header = True)