In [29]:
import pandas as pd
import numpy as np

## Moyenne Par Mois

In [33]:
tab = pd.read_csv('tableau_final.csv', index_col = "Index")

tab['Month/Year'] = tab["Date"].str[3:5] + "/" + tab["Date"].str[8:10]

print(tab)

tab = np.round(tab.groupby(['Month/Year','variable'], as_index=False)['value'].mean(), decimals = 2)

tab.head()

             Date         variable     value Month/Year
Index
0      04/03/2016  aluminium (EUR)  1494.675      03/16
1      03/03/2016  aluminium (EUR)  1494.675      03/16
2      02/03/2016  aluminium (EUR)  1474.760      03/16
3      01/03/2016  aluminium (EUR)  1460.960      03/16
4      29/02/2016  aluminium (EUR)  1504.200      02/16
...           ...              ...       ...        ...
11643  16/03/2022   fuel all EUR/L     2.145      03/22
11644  15/03/2022   fuel all EUR/L     2.145      03/22
11645  14/03/2022   fuel all EUR/L     2.145      03/22
11646  10/03/2022   fuel all EUR/L     2.145      03/22
11647  09/03/2022   fuel all EUR/L     2.145      03/22

[11648 rows x 4 columns]

  Month/Year            variable    value
0      01/16  Brent (EUR/barrel)      NaN
1      01/16           USD/EUROS     0.92
2      01/16     aluminium (EUR)  1516.07
3      01/16       beams EUR/ton      NaN
4      01/16       coils EUR/ton      NaN

In [34]:
tab.to_csv(r'tableau_by_month.csv', index = True, header = True)